/* /public/css/style.css */

/*  ICONS */

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.icon {
    width: 28px;
    height: 28px;
}

.icon-link {
    margin-left: 10px;
}

.navbar-nav .nav-link {
    color: #000;
    font-weight: 500;
    margin-right: 10px;
}

.btn-outline-dark {
    border-radius: 0;
}

.icon-link i {
    font-size: 1.5rem;  /* Adjust the size of the icon */
    color: #000;        /* Adjust the color of the icon */
}

.dropdown-menu {
    min-width: 160px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid black; /* Make the arrow color black */
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}










/* CREATE ACCOUNT*/
/* Step Circles */
.step-circle {
    width: 30px;  /* Adjust the size */
    height: 30px;
    background-color: #d3d3d3;  /* Default background color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    color: black;  /* Default text color */
    transition: background-color 0.3s, color 0.3s;  /* Smooth transition */
}

/* Active Step Circle */
.step-circle.active {
    background-color: #007bff;  /* Highlight color for active step */
    color: white;  /* Text color for contrast */
}

/* Line between the steps */
.step-line {
    width: 30px;  /* Adjust this value to control the distance between circles */
    height: 2px;
    background-color: #d3d3d3;  /* Default line color */
    margin: 0;  /* Remove negative margins */
    transition: background-color 0.3s;  /* Smooth transition */
}

/* Active Line */
.step-line.active {
    background-color: #007bff;  /* Highlight color for active line */
    transform: scale(1.1); /* Slightly enlarges the active step */
}

@media (max-width: 768px) {
    .step-circle {
        width: 25px;
        height: 25px;
        font-size: 0.85rem;
    }
    .step-line {
        width: 20px;
    }
}

/* Ensure the user icon is on top and clickable */
#userIcon {
    position: relative;
    z-index: 1000;
    pointer-events: auto;
}

/* Adjustments for the inline form layout */
.modal-body .row {
    margin-bottom: 1rem;
}

/* Adjust input and label alignment */
.modal-body .col-form-label {
    text-align: right;
}

.input-group-text {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 5px;
}

